{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Bewertung der Aufgabe
{% endblock %}

{% block content %}

<p> Um die von Ihnen getroffenen Bewertungen besser nutzen zu können, bitte wir Sie die folgenden Fragen zu
    beantworten.</p>
<p> <strong>Wie sehr stimmen Sie den folgenden Aussagen zu?</strong></p>



<div class="form-group required">
    <label class="col-form-label" for="id_q_task1_0">Die Aufgabe war langweilig.</label>
    <div class="controls  field-q_task1">
        <div class="form-check form-check-inline">
            <label for="id_q_task1_0" class="form-check-label"><span>gar nicht &nbsp</span> </label><input type="radio" name="q_task1" value="1" required="" id="id_q_task1_0" class="form-check-input">

            
        </div>



        <div class="form-check form-check-inline">
            <input type="radio" name="q_task1" value="2" required="" id="id_q_task1_1" class="form-check-input">

            <label for="id_q_task1_1" class="form-check-label"></label>
        </div>



        <div class="form-check form-check-inline">
            <input type="radio" name="q_task1" value="3" required="" id="id_q_task1_2" class="form-check-input">

            <label for="id_q_task1_2" class="form-check-label"></label>
        </div>



        <div class="form-check form-check-inline">
            <input type="radio" name="q_task1" value="4" required="" id="id_q_task1_3" class="form-check-input">

            <label for="id_q_task1_3" class="form-check-label"></label>
        </div>



        <div class="form-check form-check-inline">
            <input type="radio" name="q_task1" value="5" required="" id="id_q_task1_4" class="form-check-input">

            <label for="id_q_task1_4" class="form-check-label"></label>
        </div>



        <div class="form-check form-check-inline">
            <input type="radio" name="q_task1" value="6" required="" id="id_q_task1_5" class="form-check-input">

            <label for="id_q_task1_5" class="form-check-label"></label>
        </div>



        <div class="form-check form-check-inline">
            <input type="radio" name="q_task1" value="7" required="" id="id_q_task1_6" class="form-check-input">

            <label for="id_q_task1_6" class="form-check-label">sehr stark</label>
        </div>



    </div>


</div>

<div class="form-group required">
    
        
            <label class="col-form-label" for="id_q_task2_0">Die Aufgabe war anstrengend.</label>
            <div class="controls  field-q_task2">
                <div class="form-check form-check-inline">
                <label for="id_q_task2_0" class="form-check-label">gar nicht &nbsp</label> <input type="radio" name="q_task2" value="1" required="" id="id_q_task2_0" class="form-check-input">

                
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task2" value="2" required="" id="id_q_task2_1" class="form-check-input">

                <label for="id_q_task2_1" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task2" value="3" required="" id="id_q_task2_2" class="form-check-input">

                <label for="id_q_task2_2" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task2" value="4" required="" id="id_q_task2_3" class="form-check-input">

                <label for="id_q_task2_3" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task2" value="5" required="" id="id_q_task2_4" class="form-check-input">

                <label for="id_q_task2_4" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task2" value="6" required="" id="id_q_task2_5" class="form-check-input">

                <label for="id_q_task2_5" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task2" value="7" required="" id="id_q_task2_6" class="form-check-input">

                <label for="id_q_task2_6" class="form-check-label">sehr stark</label>
            </div>
                

                
            </div>
        
    
</div>

<div class="form-group required">
    
        
            <label class="col-form-label" for="id_q_task3_0">Die Aufgabe hat Spaß gemacht.</label>
            <div class="controls  field-q_task3">
                <div class="form-check form-check-inline">
                <label for="id_q_task3_0" class="form-check-label">gar nicht &nbsp</label> <input type="radio" name="q_task3" value="1" required="" id="id_q_task3_0" class="form-check-input">

                
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task3" value="2" required="" id="id_q_task3_1" class="form-check-input">

                <label for="id_q_task3_1" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task3" value="3" required="" id="id_q_task3_2" class="form-check-input">

                <label for="id_q_task3_2" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task3" value="4" required="" id="id_q_task3_3" class="form-check-input">

                <label for="id_q_task3_3" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task3" value="5" required="" id="id_q_task3_4" class="form-check-input">

                <label for="id_q_task3_4" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task3" value="6" required="" id="id_q_task3_5" class="form-check-input">

                <label for="id_q_task3_5" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task3" value="7" required="" id="id_q_task3_6" class="form-check-input">

                <label for="id_q_task3_6" class="form-check-label">sehr stark</label>
            </div>
                

                
            </div>
        
    
</div>
<div class="form-group required">
    
        
            <label class="col-form-label" for="id_q_task4_0">Die Aufgabe war emotional belastend.</label>
            <div class="controls  field-q_task4">
                <div class="form-check form-check-inline">
                <label for="id_q_task4_0" class="form-check-label">gar nicht &nbsp</label> <input type="radio" name="q_task4" value="1" required="" id="id_q_task4_0" class="form-check-input">

                
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task4" value="2" required="" id="id_q_task4_1" class="form-check-input">

                <label for="id_q_task4_1" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task4" value="3" required="" id="id_q_task4_2" class="form-check-input">

                <label for="id_q_task4_2" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task4" value="4" required="" id="id_q_task4_3" class="form-check-input">

                <label for="id_q_task4_3" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task4" value="5" required="" id="id_q_task4_4" class="form-check-input">

                <label for="id_q_task4_4" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task4" value="6" required="" id="id_q_task4_5" class="form-check-input">

                <label for="id_q_task4_5" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task4" value="7" required="" id="id_q_task4_6" class="form-check-input">

                <label for="id_q_task4_6" class="form-check-label">sehr stark</label>
            </div>
                

                
            </div>
        
    
</div>

<div class="form-group required">
    
        
            <label class="col-form-label" for="id_q_task5_0">Ich habe mir mehr Mühe gegeben als andere Teilnehmer.</label>
            <div class="controls  field-q_task5">
                <div class="form-check form-check-inline">
                <label for="id_q_task5_0" class="form-check-label">gar nicht &nbsp</label> <input type="radio" name="q_task5" value="1" required="" id="id_q_task5_0" class="form-check-input">

                
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task5" value="2" required="" id="id_q_task5_1" class="form-check-input">

                <label for="id_q_task5_1" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task5" value="3" required="" id="id_q_task5_2" class="form-check-input">

                <label for="id_q_task5_2" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task5" value="4" required="" id="id_q_task5_3" class="form-check-input">

                <label for="id_q_task5_3" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task5" value="5" required="" id="id_q_task5_4" class="form-check-input">

                <label for="id_q_task5_4" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task5" value="6" required="" id="id_q_task5_5" class="form-check-input">

                <label for="id_q_task5_5" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task5" value="7" required="" id="id_q_task5_6" class="form-check-input">

                <label for="id_q_task5_6" class="form-check-label">sehr stark</label>
            </div>
                

                
            </div>
        
    
</div>

<div class="form-group required">
    
        
            <label class="col-form-label" for="id_q_task6_0">Ich habe mehr Zeit benötigt als andere Teilnehmer.</label>
            <div class="controls  field-q_task6">
                <div class="form-check form-check-inline">
                <label for="id_q_task6_0" class="form-check-label">gar nicht &nbsp</label> <input type="radio" name="q_task6" value="1" required="" id="id_q_task6_0" class="form-check-input">

                
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task6" value="2" required="" id="id_q_task6_1" class="form-check-input">

                <label for="id_q_task6_1" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task6" value="3" required="" id="id_q_task6_2" class="form-check-input">

                <label for="id_q_task6_2" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task6" value="4" required="" id="id_q_task6_3" class="form-check-input">

                <label for="id_q_task6_3" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task6" value="5" required="" id="id_q_task6_4" class="form-check-input">

                <label for="id_q_task6_4" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task6" value="6" required="" id="id_q_task6_5" class="form-check-input">

                <label for="id_q_task6_5" class="form-check-label"></label>
            </div>
        
    
        
            <div class="form-check form-check-inline">
                <input type="radio" name="q_task6" value="7" required="" id="id_q_task6_6" class="form-check-input">

                <label for="id_q_task6_6" class="form-check-label">sehr stark</label>
            </div>
                

                
            </div>
        
    
</div>

{% formfield player.q_freq_task %}

{{ form.q_freq_task.errors}}

{{ form.q_task1.errors}}
{{ form.q_task2.errors}}
{{ form.q_task3.errors}}
{{ form.q_task4.errors}}
{{ form.q_task5.errors}}
{{ form.q_task6.errors}}

{% next_button %}

{% endblock %}